header{
    background-color: #ffcccc;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    
}
main{
    background-color: #d3d3d3;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: #ffcccc;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}