header{
    background-color: #ffcccc;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    
}
main{
    background-color: #d3d3d3;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: #ffcccc;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    text-shadow: 5px 5px 5px #696969;
}
h2{
/* font-family: 'Open Sans Condensed', sans-serif;*/
font-family: 'Red Hat Display', sans-serif;
}